
@{
    ViewBag.Title = "Index";
   
}
@*<div class="landing-grid">*@
    <head>
        
        <style>
            h2 {
                text-align: center;
            }

            div {
                text-align: center;

            }

            form {
                margin: 0 auto;
                text-align: center;
                background-color: transparent;
                width: 900px;
                border: 15px solid Blue;
                padding: 100px;
                
            }


        </style>

    </head>
    <br />
    <br />
    <br />
    
    <h2 > Event </h2>


    <h2> Registration Form </h2>
    <form method="POST" action="~/Event/reg">
        <center>
           <b> EventName:</b> <br><input type="text" name="EventName" required />
        </center><br />
                 <center>
                   <b>  GuestNumber:</b> <br><input type="text" name="GuestNumber" required />
                 </center><br />
                          <center>
                             <b> PaymentAmount:</b> <br><input type="text" name="PaymentAmount" required />
                          </center><br />
                                   <center>
                                       <b>Email:</b> <br><input type="text" name="Email" required/>
                                   </center><br />
                                       <input type="submit" />

</form>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</div>
