
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>reg</title>
</head>
<body>
    <div>
        <table class="table">
            <tr>
                <td>@Model.EventName</td>
                <td>@Model.GuestNumber</td>
                <td>@Model.PaymentAmount</td>
                <td>@Model.Email</td>
            </tr>
        </table>


    </div>
</body>
</html>
