
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}

<head>


    <style>
        h2 {
            text-align: center;
        }

        div {
            text-align: center;
        }

        form {
            margin: 0 auto;
            text-align: center;
            background-color: transparent;
            width: 900px;
            border: 15px solid Blue;
            padding: 100px;
        }
    </style>

</head>
<br />
<br />
<br />
<body>

    @*<div class="landing-grid">*@
    <div class="col-4">
        <h1>Delete Event </h1>
        <p>

            <form method="get" action="~/EventDelete/del">
                <b> Email:</b> <input type="text" name="Email" required/><br />
                <input type="submit" />
            </form>

        </p>

        <p>
            <form method="get" action="~/EventDelete/del2">
                <b> EventName:</b> <input type="text" name="NAME" required /><br />
                <input type="submit" />
            </form>

        </p>
    </div>
    </div>
</body>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />